@model Agri_Engergy_App.Models.LoginModel
@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>

<style>
    .login-form {
        max-width: 400px;
        margin: 0 auto;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-form input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        font-size: 16px;
        box-sizing: border-box;
    }

    .login-form button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    .signup-link {
        margin-top: 20px;
        text-align: center;
    }
</style>

<div class="login-form">
    <form asp-controller="Login" asp-action="Login" method="post">
        <input type="text" name="email" asp-for="UserEmail" placeholder="example@gmail.com" required />
        <input type="text" name="password" asp-for="Password" placeholder="Password" required />
        <button type="submit">Login</button>
    </form>

    <div class="signup-link">
        <p>If you don't have an account <a href="https://localhost:7274/Home/SignUp">Sign Up</a> for a new account.</p>
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        <div style="color: red;">@Html.ValidationSummary(true)</div>
    }
</div>
