@{
    ViewData["Title"] = "Farmer";
}

<h2>Welcome @ViewBag.UserName @ViewBag.UserSurname!</h2>

<p>You are successfully logged in.</p>

<form asp-controller="Farmer" asp-action="AddProduct" method="get">
    <button type="submit" class="btn btn-primary">Add New Product</button>
</form>


<!-- Logout Button -->
<form asp-controller="Home" asp-action="Logout" method="post" style="margin-top: 20px;">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
